<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :school_id %>
    <%= f.collection_select(:school_id, School.all, :id, :name, :prompt => "Select a school (optional)") %>
  </div>
  <div class="field">
    <%= f.label :year_in_school %>
    <%= f.select(:year_in_school, options_for_select([["Freshman", 1], ["Sophomore", 2], ["Junior", 3], ["Senior", 4]]), :prompt => "Select one (optional)") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
