<h1>Find Resources on <%= image_tag('edu_logo.jpg') %></h1>


<% if @results.present? %>
	<strong><%= @results["openSearch$startIndex"]["$t"] %> - <%= @results["openSearch$itemsPerPage"]["$t"] %> of about <%= @results["openSearch$totalResults"]["$t"] %> results</strong>
	<br/>
	<h4><strong>Search results for: "<%= @results["title"]["$t"].split(': ')[1] %>"</strong></h4>
	<br/><br/>
	<div class="youtubesearchresults">
	<% @results["entry"].each do |result| %>
		<div class="span10">
			<div class="hero-unit">
					<%= link_to image_tag(result["media$group"]["media$thumbnail"].first["url"]), result["link"].first["href"], :target => "_blank"  %>
					<p>	<%= link_to result["title"]["$t"][0..80] , result["link"].first["href"], :target => "_blank" %> </p>
						<div class="youtubesearchresultsdescriptions"><%= result["content"]["$t"][0..340]  %>&hellip;</div>
					<br/><br/>
						<div class="youtubesearchresultstags">Tags: <%= result["media$group"]["media$keywords"]["$t"][0..150] %>&hellip;</div>
			</div>
		</div>
	<% end %>
	</div>
<% end %>
